# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VSCode/IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
